---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import Pagination from '../components/Pagination.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import { sortItemsByDateDesc } from '../utils/data-utils';

---

<BaseLayout
    title="Repertoár"
    description="Explore a diverse portfolio showcasing my passion and expertise"
    image={{ src: '/dante-preview.jpg', alt: 'The preview of the site' }}
    showHeader={false}
>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Repertoár</h1>
    <ul>

        {siteConfig.repertoar.map((song) => <li>{song}</li>)}
    </ul>
    <!-- <Pagination page={page} class="my-16 sm:my-24" /> -->
</BaseLayout>
