---
const { src, title } = Astro.props
---

<div class="flex items-center flex-col w-auto">
    <h6 class="p-6">{title}</h6> 
    <audio class="d-block  w-full border border-1 rounded-full border-main" controls src={src}></audio>
</div>