---
import Button from './Button.astro'
---

  <div class="flex w-full flex-col rounded-3xl  border-dashed border-1 border border-main px-6 py-20 lg:order-none">
    <div class="text-center">
      <h4 class="text-sm leading-normal">Cena</h4>
      <p class="text-xl leading-tight font-serif font-medium sm:text-4xl py-2">Dohodou</p>
      <h4 class="text-sm leading-normal">Záleží na</h4>
      <!-- {
        plan.price.original && (
          <p class="mt-1 text-xl font-medium text-gray-400 line-through md:text-2xl">
            {plan.price.original}
          </p>
        )
      } -->
    </div>
    <div class="mt-8 flex justify-center">
      <ul class="my-8 grid gap-y-4 text-left">
        <li class="text-sm leading-normal flex items-start gap-3">
          <span class="italic text-sm leading-normal">Délce hraní</span>
        </li>
        <li class="text-sm leading-normal flex items-start gap-3">
          <span class="italic text-sm leading-normal">Typu akce</span>
        </li> 
        <li class="text-sm leading-normal flex items-start gap-3">
          <span class="italic text-sm leading-normal">Vzdálenosti</span>
        </li>
      </ul>
    </div>
    <Button href="/contact">Kontakt</Button>
  </div>

